@font-face {
  font-display: block;
  font-family: icomoon;
  font-style: normal;
  font-weight: normal;
  src: url('../assets/icons/icomoon.eot?4b5z9s');
  src: url('../assets/icons/icomoon.eot?4b5z9s#iefix')
      format('embedded-opentype'),
    url('../assets/icons/icomoon.ttf?4b5z9s') format('truetype'),
    url('../assets/icons/icomoon.woff?4b5z9s') format('woff'),
    url('../assets/icons/icomoon.svg?4b5z9s#icomoon') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: icomoon !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

.icon-twitter::before {
  content: '\ea96';
}

.icon-youtube::before {
  content: '\ea9d';
}

.icon-github1::before {
  content: '\eab0';
}
