$header-height: 50px;
$timeline-height: 130px;
$title-block-width: 200px;
$timeline-block-width: 200px;
$icon-height: 20px;
$line-height: 4px;
$dialog-height: 200px;
$dialog-width: 300px;
$indicator-size: 20px;

$header-background: #9a9ccc;
$background-color: #126b91;
