$header-height: 50px;
$timeline-height: 130px;
$title-block-width: 200px;
$timeline-block-width: 200px;
$icon-height: 20px;
$line-height: 4px;
$dialog-height: 200px;
$dialog-width: 300px;
$indicator-size: 20px;

$header-background: #a5cdf1;
$background-color: #126b91;
$connection-line-color: #a1a2a7;
$connection-dot-color: #a3cdf5;
$title-bar-color: #1686b6;
$box-background-color: #1f8ece;
$box-button-background-color: #60a8e2;

$box-text-color: white;
$header-icon-color: #0e67b1;
$title-text-color: white;
$title-text-sub-color: #ccc;
$box-indicator-color: #9cc8d9;
